src/main/mule/tmp/learnErrorHanling.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<configuration doc:name="Configuration" doc:id="0ce9ec92-f9b3-4199-89d3-38671e027f97" defaultErrorHandler-ref="handleAnyMathematicalError" />
	<configuration doc:name="Configuration" doc:id="5ea6f60a-4f6a-495b-af68-50525899c3d6" defaultErrorHandler-ref="handleHTTPErrors" />
	<flow name="learnErrorHanlingFlow-onerrorContinue" doc:id="0bfef288-b13e-4809-9b42-31c5f6c4693a" >
		<http:listener doc:name="errorHandlingRequest" doc:id="024a624b-adc7-4b17-a676-b44646b553c9" config-ref="HTTP_Listener_6061_learnmulesoft" path="/errorhandlingonerrorcont"/>
		<flow-ref doc:name="Invoke Perform Div Operations" doc:id="79c02c67-ed90-40b0-9259-0086cae9657b" name="performDivOperatons-subFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="134486c4-2fe6-470d-b7b1-55bf38a1af76" message="#[payload]"/>
	</flow>
	<flow name="learnErrorHanlingFlow-onerrorPropagate" doc:id="b20ec210-5e29-45af-bb9a-9c3d85dc6a73" >
		<http:listener doc:name="errorHandlingRequest" doc:id="b064144b-df0c-4c80-8b37-3cfdbd33a825" config-ref="HTTP_Listener_6061_learnmulesoft" path="/errorhandlingonerrorprop" />
		<flow-ref doc:name="Invoke Perform Div Operations" doc:id="12edc5ef-32c6-4b19-b47f-d541460acca3" name="performDivOperatons-subFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="4b6984f9-6026-48a2-a255-b09fb500bebe" message="#[payload]" />
	</flow>
	<sub-flow name="performDivOperatons-subFlow" doc:id="027420c3-4b63-4767-8c36-054448c57fb6">
		<try doc:name="Try" doc:id="0a69213f-b11d-47db-9f6c-1f3c01e8f5a6" >
			<flow-ref doc:name="Invoke Math Operations except division" doc:id="a57dc559-5395-4394-a86e-a246256f918f" name="addMulSub-Subflow" />
		</try>
		<try doc:name="Try" doc:id="961aa449-1baa-48cd-8369-a698d0ba0805" >
			<ee:transform doc:name="Divide2Numbers" doc:id="a930431b-5ca7-4287-a008-cd1c69e73ac6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	divison: (payload.variable1)/(payload.variable2)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		</try>
		<ee:transform doc:name="sendResponseBack" doc:id="0e71e700-fd50-4798-9fe4-c2e19e7ee7e4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	errordetails: error.description,
	errorType: error.errorType
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="addMulSub-Subflow" doc:id="debfa268-d91a-4bda-9a5e-871c30234b0e" >
		<choice doc:name="Choice" doc:id="dab1083e-5643-4eee-8f40-fa2db432414e">
			<when expression="#[typeOf(payload.variable1) == String]">
				<raise-error doc:name="Raise error - Because it's a string" doc:id="4df8897b-11cb-471e-9fe0-fa4c915385cc" type="MATH:STRING_EXCEPTION" description="Unable to proceed further, because it's a string &amp; maths will calculate only values"/>
			</when>
			<otherwise >
				<try doc:name="Try" doc:id="8eec4e9e-ac3d-426f-b305-2ac5745b95f5" >
					<ee:transform doc:name="addMulSubOperations" doc:id="860cce6c-5f5c-4163-a4ef-2dc36e54e13f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Add: (payload.variable1) + (payload.variable2),
	Subtraction: (payload.variable1) - (payload.variable2),
	Multiplication: (payload.variable1) * (payload.variable2)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				</try>
				<ee:transform doc:name="setPayload" doc:id="f986f151-015d-4f83-b8f9-4dc6f4c961ed">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
	</sub-flow>
</mule>
