target/META-INF/mule-src/learnmulesoft/src/main/mule/dataweave/scopeFlowConstructs.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="scopeFlowConstructsFlow" doc:id="e1c6674b-d99f-4c80-8dd3-dff5b71748cd" >
		<ee:transform doc:name="doCons" doc:id="6493b040-a9f0-4670-8a05-57dda05ec1ff" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/dw
var fName = "Mule"
var lName = "Soft"

var x = do{
	var concatenateFL = fName ++ lName
	var x1 = "hi"
	---
	concatenateFL ++ x1
}

var x2 = fName

---

x]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="ifelseAndElseif - Example 1" doc:id="b821a84d-019b-4eec-bfb1-9be318070119" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
/*{
	
	"name": "Manju Kaushik",
	"location": "india",
	"id": 0,
	"age": 40,
	"salary": 1000
	
} */
---
{
	
	k1: if (payload.age > 60 and payload.id >= 1) payload.name 

		else if (payload.age < 60 and payload.id >= 1) payload.location 
		
		else
		
			payload.salary
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="ifelseAndElseif - Example 2" doc:id="06eb6e27-5cfe-4c08-acf6-63575e844883" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

var myObject = {
	
	"myCountry": "indiao"
}
---
{
	k1: if(myObject.myCountry == "india") myObject.myCountry 
		else "invalid"

}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
